<?xml version="1.0"?>

<robot name="isss_stick" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="isss_stick"/>
  <xacro:include filename="$(find isss_stick_description)/urdf/isss_stick.urdf.xacro"/>
  <xacro:isss_stick namespace="$(arg namespace)" debug="$(arg debug)"/>
</robot>